pandas==2.2.0
numpy==1.26.4

requests==2.31.0
pytrends==4.9.2

matplotlib==3.8.3
seaborn==0.13.2
plotly==5.20.0

scikit-learn==1.4.1.post1
statsmodels==0.14.1
xgboost==2.0.3
lightgbm==4.3.0
ta==0.11.0

tensorflow==2.15.0

jupyter==1.0.0
ipykernel==6.29.3

streamlit==1.32.0